@model ChapeauApp.Models.ViewModels.BarAndKitchenVM
@{
	ViewData["Title"] = "Running Orders";
}

 <h2>Running orders</h2>

	@*@foreach (var order in Model)
		{
			<div class="OrderInfo-block">
				....
			</div>

			<form action="/BarAndKitchen/RunningOrders" method="post">
				<input type="hidden" name="OrderId" value="@order.OrderId"/>
				@foreach (var course in order.Courses)
				{
					....
				}
				<button type="submit" class="btnPreparing">Preparing</button> //linken met enum??
				<button type="submit" class="btnDone">Done</button>
			</form>
		} *@

<!--css-->
<style>


</style>