@using ChapeauApp.Models.ViewModels;
@model TablesViewModel
@{
    ViewData["Title"] = "TableIndex";
}
<h1 class="alert-danger">@TempData["ErrorMessage"]</h1>
<h1 class="alert-warning">@TempData["WarningMessage"]</h1>
<h1 class="alert-success">@TempData["SuccesMessage"]</h1>
<div id="gridContainer">
    @{
        foreach (TableViewModel tableViewModel in Model.Tables)
        {
            <div class="col-md-4 mb-4">
                <a href="/Tables/Table/@tableViewModel.TableNumber" class="text-decoration-none text-dark">
                    <div class="card shadow-sm h-100 card-hover">
                        <div class="card-body d-flex flex-column justify-content-between text-center">
                            <h5 class="card-title">Table @tableViewModel.TableNumber</h5>
                            <span>View Order</span>
                        </div>
                    </div>
                </a>
            </div>
        }
    }

    <form action="/Employee/Logoff" method="get">
        <button id="logoffButton" style="grid-area:logoffButton;" type="submit" class="btn btn-primary">Logoff</button>
    </form>

    <form action="/Tables/Index" method="get">
        <button id="refreshButton" style="grid-area:refreshButton;" type="submit" class="btn btn-primary">Refresh</button>
    </form>
</div>

