@{
    ViewData["Title"] = "Home Page"; 
}
<h1 class="alert-danger">@TempData["ErrorMessage"]</h1>
<h1 class="alert-warning">@TempData["WarningMessage"]</h1>
<h1 class="alert-success">@TempData["SuccesMessage"]</h1>
<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h3>This is the chapeau application.</h3>
    <p>This version was made by DevBauke.</p>
</div>
