@{
    ViewData["Title"] = "Home Page"; 
}
<h1 class="alert-danger">@TempData["Message"]</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the chapeau application!</p>
    <h1>@ViewBag.Error</h1>
</div>
