@using ChapeauApp.Models.ViewModels;
@model TableViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="@Model.TableNumber" group="@Model.TableStatus">
    @Model.TableNumber
    
</div>
    
        
   