html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.Free {
    background-color :#FFFFFF;
}
.Occupied {
    background-color :#16EB20;
}
.Ordered {
    background-color :#ED0B0B;
}
.Reserved {
    background-color :#3B10EA;
}
.OrderReadyToBeServed {
    background-color :#FA9302;
}
#TableIndex {
    grid-template-areas:
        "           #2       #4       #6          #8         #10                " 
        "           #1       #3       #5          #7         #9                 " 
        "#refreshButton                                            #logoffButon " 
        ;
    color: #000000;
}
div.Table{
    width:20px;
    height:20px;
    display:block;
}
.rechthoek-knop {
    width: 150px;
    height: 75px;
   
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color:black;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
}

